src/test/resources/example/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employees" type="employeesType"/>
  <xs:complexType name="departmentType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="phoneType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="employeeType">
    <xs:sequence>
      <xs:element type="xs:string" name="firstName"/>
      <xs:element type="xs:string" name="lastName"/>
      <xs:element type="xs:string" name="country"/>
      <xs:element type="departmentType" name="department"/>
      <xs:element type="phoneType" name="phone"/>
      <xs:element type="xs:string" name="startdate" minOccurs="0"/>
      <xs:element type="xs:string" name="dob" minOccurs="0"/>
      <xs:element type="xs:string" name="zip" minOccurs="0"/>
      <xs:element type="xs:string" name="email"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="employeesType">
    <xs:sequence>
      <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
